@model SalesSystem.Models.Gown

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Gown</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateRented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateRented)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateReturned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pickupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pickupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.partialPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.partialPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.securityDeposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.securityDeposit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
