@model SalesSystem.Views.Gowns.IndexFilterModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Gowns" asp-action="Index" method="get">
    <p>
        OR # or Name: <input type="text" name="query">
        <select asp-for="status" asp-items="Model.statusOptions">
        </select>
        <input type="submit" value="Filter" />
    </p>

</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gown.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.dateRented)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.dueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.dateReturned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.pickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.orNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.partialPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gown.securityDeposit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.gowns) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateRented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.partialPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.securityDeposit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
